<div class="hero is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome To My Assignment...
        </h1>
        <h2 class="subtitle">
          Home Page!!
        </h2>
      </div>
    </div>
</div>
  <div class="columns m-3  is-centered">
    <div class="column is-4">
      <article class="message is-link">
        <div class="message-header">
          <p>Note</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          Thanks to Anup and Nagarro team for the assignment. It was great fun doing that.<br><strong>  For the assignents click on navebar dropdown</strong>
        </div>
      </article>
  </div>
  </div>
